h1 {
    background-color: rgb(72, 255, 170);
    width: 275px;
    height: 47px;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
}

h4 {
    background-color: rgb(255, 164, 232);
    width: 155px;
    height: 23px;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
}

h2 {
    background-color: rgb(255, 164, 232);
    width: 180px;
    height: 33px;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
}

.knopka {
    color: black;
    font-weight: bold;
    font-family: cursive;
}

h3 {
    background-color: rgb(255, 164, 232);
    width: 70px;
    height: 28px;
    text-align: center;
    font-weight: bold;
    font-family: cursive
}

.knop {
    background-image: url('https://i.pinimg.com/originals/e3/7b/52/e37b52544f05418d007e385393e89221.jpg');
}

.examplehorizontal {
    position: absolute;
    top: 13%;
    left: 34%;
    transform: translate(-40%, -40%);
}

.examplehorizontal2 {
    position: absolute;
    top: 12%;
    right: 0.5%;
    transform: translate(-1%, -40%);
}

.knopk {
    background-image: url('https://inkarnate-api-as-production.s3.amazonaws.com/s49xr8k79vf0w97c8n49b4fqnjh5');
    width: 200;
    height: 200;
}